<footer id="footer">
  <div class="fullblock">
    <div class="footer padding50">
      <div class="container">
        <h1 class="widget-title">Get a hold of us</h1>
          <div class="contact-widget">
            <div class="row">
              <div class="span3">
                <%= fa_icon('phone') %>
                <p>Phone: 616-293-2488</p>
              </div>
              <div class="span3">
                <%= fa_icon('envelope') %>
                <p><%= mail_to('nystrombuilders@gmail.com') %></p>
              </div>
              <div class="span3">
                <%= fa_icon('home') %>
                <p>5995 12 Mile Rd Ne, Rockford Mi 49341</p>
              </div>

              <div class="span3">
                <%= fa_icon('facebook') %>
                <%= link_to 'Check us out on Facebook', 'https://www.facebook.com/pages/Nystrom-Builders-LLC/36860627634', style: 'margin-top: 8px; display: inline-block;' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <p>Copyright <%= Date.current.year %> Nystrom Builders LLC. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
