<%= simple_form_for project, url: project.id? ? admin_project_path(project) : admin_projects_path, html: { multipart: true } do |f| %>
  <div class="col-md-6">
    <%= f.input :name %>
    <%= f.input :display_on_projects_page %>
    <%= f.input :summary, label: 'Summary (100 characters or less)' %>
  </div>

  <div class="clearfix"></div>

  <fieldset class="col-md-12">
    <legend>Photos</legend>
    <div class="alert alert-info">
      <h4>Help</h4>
      <ul>
        <li>Aim for photos with a decent resolution</li>
        <li>The smaller the image size (kb vs mb) the better</li>
        <li>Larger size images will take longer to upload</li>
        <li>The best ratio for images is 3:2 (example 75x50)</li>
      </ul>
    </div>

    <%= link_to 'Add Another Photo', '#', data: { action: "add-photo" } %>

    <div class="photos-wrapper">
      <%= f.fields_for :photos do |pf| %>
        <div class="photo" data-id="<%= pf.object.id %>">
          <%= pf.input :photo %>
          <%= pf.hidden_field :_destroy %>
          <% if pf.object.id? %>
            <%= image_tag pf.object.photo.url(:thumb) %>
          <% end %>
          <%= link_to 'Delete', '#', data: { action: "delete-photo" } %>
        </div>
      <% end %>
    </div>
  </fieldset>

  <%= f.button :submit, project.id? ? 'Update Project' : 'Add Project', class: 'btn btn-success', data: { action: 'update-project' } %>
<% end %>

<script type="text/javascript">
  var page = new NewProjectPage();
</script>
