<div class="fullblock blockwhite">
  <div class="container">
    <div class="service_block_1">
      <div class="row service_blocks_wrap_5 home-service">
        <div class="span4">
          <div class="icon-wrap-5">
            <%= fa_icon('building') %>
          </div>
          <h5>Commercial Renovation</h5>
          <p>
            We will skillfully mend your damaged or out-dated properties.
          </p>
          <%= link_to 'Talk to us', quote_request_path, class: 'btn-theme' %>
        </div>
        <div class="span4">
          <div class="icon-wrap-5">
            <%= fa_icon('life-ring') %>
          </div>
          <h5>Insurance Specialists</h5>
          <p>
            We will work with the insurance companies so you don't have to.
          </p>
          <%= link_to 'Talk to us', quote_request_path, class: 'btn-theme' %>
        </div>
        <div class="span4">
          <div class="icon-wrap-5">
            <%= fa_icon('home') %>
          </div>
          <h5>Property Services</h5>
          <p>
            Call us if you need new roofs, dry wall, or anything else.
          </p>
          <%= link_to 'Talk to us', quote_request_path, class: 'btn-theme' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Service -->
<!-- Portfolio -->
<div class="fullblock blockgrey padding50">
  <div class="container">
    <div class="blog_block_1">
      <div class="entrytitle">
        <h4>Showcase of Our Projects <small>(hover to see the before-shots)</small></h4>
      </div>
    </div>
  </div>
  <div class="portfolio_blocks_wrap container" id="carousel">
    <div class="item span4">
      <div class="image-wrap">
        <a href="javascript:void(0)" class="image-link">
          <%= image_tag('project_slides/cooking_fire_after.jpg', data: { timeline: 'after' }) %>
          <%= image_tag('project_slides/cooking_fire_before.jpg', data: { timeline: 'before' }, style: 'display: none;') %>
        </a>
      </div>
      <div class="title_holder">
        <h1><a href="javascript:void(0)">After The Fire</a></h1>
      </div>
    </div>
    <div class="item span4">
      <div class="image-wrap">
        <a href="javascript:void(0)" class="image-link">
          <%= image_tag('project_slides/bathroom_sinks.jpg', data: { timeline: 'after' }) %>
          <%= image_tag('project_slides/bathroom_before.jpg', data: { timeline: 'before' }, style: 'display: none;') %>
        </a>
      </div>
      <div class="title_holder">
        <h1><a href="javascript:void(0)">Bathroom Repair</a></h1>
      </div>
    </div>
    <div class="item span4">
      <div class="image-wrap">
        <a href="javascript:void(0)" class="image-link">
          <%= image_tag('project_slides/kitchen1_after.jpg', data: { timeline: 'after' }) %>
          <%= image_tag('project_slides/cabinets_before.jpg', data: { timeline: 'before' }, style: 'display: none;') %>
        </a>
      </div>
      <div class="title_holder">
        <h1><a href="javascript:void(0)">New Kitchen Cabinits</a></h1>
      </div>
    </div>
  </div>
  <div class="clearfix padding50"></div>
  <div class="container">
    <div class="row video_holder">
      <div class="span6">
        <%= image_tag 'apartment-buildings-section-image.png' %>
      </div>
      <div class="span6">
        <h1 class="upper-title">Are You a Property Manager?</h1>
        <p>
          Nystrom Builders LLC provides commercial repair, maintenance and remodeling general repair services for
          commercial properties owners and property management companies. Our clients' require ongoing maintenance
          and repair for rental apartment buildings and commercial spaces.
        </p>
        <p>
          For large commercial properties ongoing maintenance and repair services is a daily task. We offer you
          complete commercial facilities maintenance to minimize  damage, handle emergency calls and down time,
          and help you (as the building owners or property managers) to have peace of mind that the tenant is happy.
          Our services include electrical, HVAC, plumbing, or general building maintenance and repair.
        </p>
        <br/>
        <p>
          <%= link_to quote_request_path, class: "btn-theme btn-theme-large" do %>
            Partner with us
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<section class="fullblock" style="padding: 50px; margin-top: 50px; margin-bottom: 130px;">
  <div class="container">
    <div class="entrytitle">
      <h4>Our Certifications and Partnerships</h4>
      <p>We use the best materials to ensure quality craftsmanship</p>
    </div>
  </div>
  <div class="container">
    <div class="row certs-container">
      <div class="span3">
        <%= image_tag 'certs/epa_cert.png', style: 'margin: 2% 0 0 20%' %>
      </div>
      <div class="span3">
        <%= image_tag 'certs/therma-tru-cert.png', style: 'margin: 11% 0' %>
      </div>
      <div class="span3">
        <%= image_tag 'certs/energy-star-logo.png', style: 'margin: 2% 0 0 29%' %>
      </div>
      <div class="span3">
        ADD PMA LOGO HERE
      </div>
    </div>
  </div>
</section>

<div class="fullblock" style="background: #4B4B4B; padding: 50px; margin-top: 50px; margin-bottom: 130px;">
  <div class="container">
    <blockquote style="font-size: 20px; color: #fff;">
      Our goal is to make certain that our clients are 100% satisfied. We believe that honest communication and high quality
      work enables us to guide clients through each step of any project.
    </blockquote>
  </div>
</div>
<!-- Pricing Tables -->
<div class="fullblock padding50 blockgrey">
  <div class="container">
    <div class="entrytitle">
      <h4>Our Services</h4>
      <p>The ways we can take care of you and your properties.</p>
    </div>
    <div class="row feature-list">
      <div class="span4">
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Additions</h5>
          <p>
            We build home additions and commercial build outs for a full range of clients across the GR area.
          </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Insurance Damage</h5>
          <p>
            We provide damage claims management for home and commercial restoration.
          </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Out-Buildings &amp; Garages</h5>
          <p>
            We can build your out-building stick built or pole-barn style.
          </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Window &amp; Door Installation</h5>
          <p>
            We provide skilled window and door replacement/installation for homeowners and commerical properties.
          </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Plumbing, Electric, HVAC</h5>
          <p>
            We will provide liscensed electrical, plumbing, and HVAC contractors.
          </p>
        </div>
      </div>
      <div class="span4">
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Construction Management</h5>
          <p>
            Nystrom Builders will provide the overall planning, coordination, and control of a project from
            beginning to completion.
          </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Approvals and Permitting</h5>
          <p>
            Nystrom Builders will attain all necessary permits and approvals to complete your project.
          </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Siding</h5>
          <p>
            From minor siding repairs to new installations we are committed to making your property look
            beautiful.
          </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Flooring</h5>
          <p>
            We will repair and install all types of flooring including vinyl, tile, carpet, etc.
          </p>
        </div>
      </div>
      <div class="span4">
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Remodels</h5>
          <p>
            As a full service remodeling company we remodel kitchens to bathrooms and everything inbetween.
          </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Carpentry</h5>
          <p>
            We provide quality craftsmanship for all carpentry projects, which can include framing, structural repair,
            porch and deck carpentry, etc.
          </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Decks</h5>
          <p>
            Get more out of your outdoor space with a new porch or deck.
          </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Roofing</h5>
          <p>
            Not only do we provide new roof installation we also provide roofing repairs and replacements.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Pricing Tables -->
