<div class="fullblock blockwhite">
  <div class="container">
    <div class="service_block_1">
      <div class="row service_blocks_wrap_5 home-service">
        <div class="span4">
          <div class="icon-wrap-5">
            <%= fa_icon('building') %>
          </div>
          <h5>Commercial Renovation</h5>
          <p>
            We will skillfully repair your damaged properties so they are available for renting fast and look
            nicer than before.
          </p>
          <%= link_to 'Read More', '#', class: 'btn-theme' %>
        </div>
        <div class="span4">
          <div class="icon-wrap-5">
            <%= fa_icon('life-ring') %>
          </div>
          <h5>Insurance Specialists</h5>
          <p>
            We will work with the insurance companies so you don't have to.
          </p>
          <a href="#" class="btn-theme">Read More</a>
        </div>
        <div class="span4">
          <div class="icon-wrap-5">
            <%= fa_icon('home') %>
          </div>
          <h5>Property Services</h5>
          <p>
            Call us if you need new roofs, dry wall, or other work done on your properties.
          </p>
          <a href="#" class="btn-theme">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Service -->
<!-- Portfolio -->
<div class="fullblock blockgrey padding50">
  <div class="container">
    <div class="blog_block_1">
      <div class="entrytitle">
        <h4>Showcase of Our Projects <small>(hover to see the before-shots)</small></h4>
      </div>
    </div>
  </div>
  <div class="portfolio_blocks_wrap container" id="carousel">
    <div class="item span4">
      <div class="image-wrap">
        <a href="javascript:void(0)" class="image-link" data-before-image="<%= image_path('project_slides/cooking_fire_before.jpg') %>">
          <%= image_tag('project_slides/cooking_fire_after.jpg') %>
        </a>
      </div>
      <div class="title_holder">
        <h1><a href="javascript:void(0)">After The Fire</a></h1>
      </div>
    </div>
    <div class="item span4">
      <div class="image-wrap">
        <a href="javascript:void(0)" class="image-link" data-before-image="<%= image_path('project_slides/bathroom_before.jpg') %>">
          <%= image_tag('project_slides/bathroom_sinks.jpg') %>
        </a>
      </div>
      <div class="title_holder">
        <h1><a href="javascript:void(0)">Bathroom Repair</a></h1>
      </div>
    </div>
    <div class="item span4">
      <div class="image-wrap">
        <a href="javascript:void(0)" class="image-link" data-before-image="<%= image_path('project_slides/cabinets_before.jpg') %>">
          <%= image_tag('project_slides/kitchen1_after.jpg') %>
        </a>
      </div>
      <div class="title_holder">
        <h1><a href="javascript:void(0)">New Kitchen Cabinits</a></h1>
      </div>
    </div>
  </div>
  <div class="clearfix padding50"></div>
  <div class="container">
    <div class="row video_holder">
      <div class="span6">
        <%= image_tag 'apartment-buildings-section-image.png' %>
      </div>
      <div class="span6">
        <h1 class="upper-title">Are You a Property Manager?</h1>
        <p>
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Vivamus at tortor at est mattis
          aliquam non id est. Quisque pretium suscipit faucibus. Fusce vestibulum mollis interdum. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit.
        </p>
        <br/>
        <p>
          In sodales dapibus dui, sed iaculis metus facilisis sed. Etiam scelerisque molestie purus vel mollis. Mauris
          dapibus quam id turpis dignissim rutrum. Phase ellus placerat nunc in nulla pretium pellen tesque. Aliquam erat
          volutpat. In nec enim dui, in hendrerit enim.
        </p>
        <br/><br/>
        <p><a href="#" class="btn-theme btn-theme-large"><i class="icon-login-1 left"></i>View More</a></p>
      </div>
    </div>
  </div>
</div>
<div class="fullblock" style="background: #4B4B4B; padding: 50px; margin-top: 50px; margin-bottom: 130px;">
  <div class="container">
    <blockquote style="font-size: 20px; color: #fff;">
      Our goal is to make certain that our clients are 100% satisfied. We believe that honest communication and high quality
      work enables us to guide clients through each step of any project.
    </blockquote>
  </div>
</div>
<!-- Pricing Tables -->
<div class="fullblock padding50 blockgrey">
  <div class="container">
    <div class="entrytitle">
      <h4>Our Services</h4>
      <p>The ways we can take care of you and your properties.</p>
    </div>
    <div class="row feature-list">
      <div class="span4">
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Additions</h5>
          <p>Sed auctor libero augue, a faucibus turpis ultrices libero augue posuere faucibus turpis. </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Insurance Damage</h5>
          <p>Sed auctor libero augue, a faucibus turpis ultrices libero augue posuere faucibus turpis. </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Out-Builings &amp; Garages</h5>
          <p>Sed auctor libero augue, a faucibus turpis ultrices libero augue posuere faucibus turpis. </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Window &amp; Door Installation</h5>
          <p>Sed auctor libero augue, a faucibus turpis ultrices libero augue posuere faucibus turpis. </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Roofing</h5>
          <p>Sed auctor libero augue, a faucibus turpis ultrices libero augue posuere faucibus turpis. </p>
        </div>
      </div>
      <div class="span4">
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Restoration</h5>
          <p>Sed auctor libero augue, a faucibus turpis ultrices libero augue posuere faucibus turpis. </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Construction Management</h5>
          <p>Sed auctor libero augue, a faucibus turpis ultrices libero augue posuere faucibus turpis. </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Approvals and Permitting</h5>
          <p>Sed auctor libero augue, a faucibus turpis ultrices libero augue posuere faucibus turpis. </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Siding</h5>
          <p>Sed auctor libero augue, a faucibus turpis ultrices libero augue posuere faucibus turpis. </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Flooring</h5>
          <p>Sed auctor libero augue, a faucibus turpis ultrices libero augue posuere faucibus turpis. </p>
        </div>
      </div>
      <div class="span4">
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Remodels</h5>
          <p>Sed auctor libero augue, a faucibus turpis ultrices libero augue posuere faucibus turpis. </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Planning &amp; Design</h5>
          <p>Sed auctor libero augue, a faucibus turpis ultrices libero augue posuere faucibus turpis. </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Carpentry</h5>
          <p>Sed auctor libero augue, a faucibus turpis ultrices libero augue posuere faucibus turpis. </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Decks</h5>
          <p>Sed auctor libero augue, a faucibus turpis ultrices libero augue posuere faucibus turpis. </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <%= fa_icon('check') %>
          </div>
          <h5>Tile Work</h5>
          <p>Sed auctor libero augue, a faucibus turpis ultrices libero augue posuere faucibus turpis. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Pricing Tables -->
