<!DOCTYPE html>
<html>
<head>
  <title>NystromBuilders</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<!-- Body Wrapper -->
  <div class="body-wrapper">
    <% if current_user %>
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <a class="navbar-brand" href="<%= admin_dashboard_path %>">NystromBuilders | <b>Admin</b></a>
              <ul class="nav navbar-nav">
                <li class="<%= controller.controller_name == 'projects' ? 'active' : '' %>">
                  <%= link_to 'projects', admin_projects_path %>
                </li>
                <li class="<%= controller.controller_name == 'users' ? 'active' : '' %>">
                  <%= link_to 'users', admin_users_path %>
                </li>
              </ul>
            </div>
          </div>
          <p class="navbar-text navbar-right">
            <b><%= current_user.name %></b> | <%= link_to 'Log out', admin_logout_path %>.
          </p>
        </div>
      </nav>
    <% end %>

    <div class="container" style="margin-bottom: 20px;">
      <div class="row">
        <div class="col-md-6">
          <h1 class="page-title"><%= yield :page_title %></h1>
        </div>
        <div class="col-md-6">
          <%= yield :page_button %>
        </div>
      </div>
    </div>

    <% if flash.any? %>
      <div class="fixed-top">
        <div class="row">
          <div style="margin-left: 30px; text-align: center;">
            <%= flash_messages do |type, text| %>
              <div class="alert alert-dismissable alert-<%= type == :error ? 'danger' : type %>">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= text %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <section class="container">
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
    </section>
    <br>
    <br>
  </div>
</body>
</html>
